=form_tag search_grades_path, :method=>"get"
%h4 Select/fill atleast one field and search
%table#search
	%tbody
		%tr
			%td
				= label :grade, :year, 'Year'
			%td
			%td
				= select :grade, :year, {"Any"=>"", 2009=>2009, 2010=>2010, 2011=>2011, 2012=>2012, 2013=>2013, 2014=>2014, 2015=>2015, 2016=>2016}
		%tr
			%td
				= label :grade, :sem, 'Sem'
			%td
			%td
				= select :grade, :sem, {"Any"=>"", "Fall"=>"FALL", "Spring"=>"SPRING", "Summer"=>"SUMMER"}
		%tr
			%td
				= label :grade, :dept, 'Dept'
			%td
			%td
				= text_field :grade, :dept, :placeholder=>'CS or MATH or ACCT, etc'
		%tr
			%td
				= label :grade, :courseno, 'Course'
			%td
			%td#dp
				= text_field :grade, :courseno, :placeholder=>'605 or 6%, etc', :size=>13
				= '-'
				= text_field :grade, :courseno2, :placeholder=>'level e.g. 501', :size=>13
		%tr
			%td
				= label :grade, :instructor, 'Instructor'
			%td
			%td
				= text_field :grade, :instructor, :placeholder=>'last name of prof.'
		%tr
			%td
				= label :grade, :gpr, 'GPR'
			%td
				= label :grade, :gpr, '>='
			%td
				= text_field :grade, :gpr, :placeholder=>'3.2 or 2.8, etc'
		%tr
			%td
				= submit_tag "Search"
